ion-toolbar {
    /** work for Android **/
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}